/*  FONTS   */


$font-stack: 'Rokkitt', sans-serif;
$font-headline: 'Lobster', cursive;

/*  COLORS   */

$yellow: #FFB01F;
$text: #253C78;
$red: #EC1E27;
$green: #20773B;
$background: #fcf8ed;
$bkgrdbox: #ffda99;
$bkgrdbox-two: #ffcd70;

body {
  margin: 0;
  padding: 0;
}

